#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.check-button {
  margin-top: 1rem;
  background-color: limegreen;
  color: white;
}